* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --unselected-icon: #75777D;
    --selected-icon-dark: #FCFCFC;
    --selected-icon-light: #3A3D46;

    --dark-gray: #22252D;
    --medium-gray: #272B33;
    --light-gray: #292D36;

    --light-green: #26B79F;
    --light-red: #F47A7A;

    --light-white: #F9F9F9;
    --medium-white: #F7F7F7;

    --background-gray: #F0F0F0;
}

body {
    background-color: var(--background-gray);
}

#calculator {
    width: 450px;
    height: 870px;

    background-color: var(--dark-gray);

    margin: 70px auto;

    border-radius: 25px;
}

#calculator-screen {
    height: 35%;
    width: 100%;

    background-color: var(--dark-gray);

    border-radius: 30px;
    position: relative;
}

#view-mode {
    height: 50px;
    width: 100px;
    border-radius: 15px;

    background-color: var(--light-gray);

    display: flex;
    position: absolute;
    top: 15px;
    left: calc(50% - 50px);

    font-size: 22px;
    color: var(--selected-icon-dark);
}

#calculator-text {
  padding: 230px 40px 0 40px;
  font-weight: bold;
  font-size: 50px;
}

#calculator-text * {
  display: inline-block;
}

#calculator-text .operand {
  color: white;
}

#calculator-text .operator {
  color: var(--light-red);
}

.view-mode-half {
    height: 50px;
    width: 50px;

    padding: 14px 0;

    text-align: center;

    border-radius: 15px;
}


#calculator-keyboard {
    height: 65%;
    width: 100%;

    background-color: var(--light-gray);

    border-radius: 30px;
    position: relative;
}

#calculator-keys {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-gap: 10px;
    padding: 50px 50px 0 50px;
}


.calculator-key {
    width: 80px;
    height: 80px;

    padding: 30px 0;

    background-color: var(--medium-gray);
    text-align: center;
    color: white;
    font: 30px;
    font-weight: bold;


    border-radius: 15px;
}

.equal-sign {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
  
    color: var(--light-green);
  
    width: 171px;
}

.clear-sign {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  
    color: var(--light-green);
  
    width: 171px; 
}

.calculator-key.operator {
    color: var(--light-red);
}

.calculator-key:hover {
    cursor: pointer;
    background-color: var(--selected-icon-light);
}

#dash {
    margin: 45px auto;
    bottom: 25px; 
    width: 170px;
    height: 5px;
    border-radius: 2px;
    
    background-color: var(--selected-icon-light);
}